//main
.main-content {
  // @include flex;
  width: 1440px;
  margin: 0 auto;
  .section-banner {
    position: relative;
    width: 100%;
    height: 880px;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url(../fashion_styles/image/Fashion\ -\ home-image9\ 1.png);
    background-size: cover;
    .banner-title {
      width: 403px;
      padding-top: 222px;
      margin-left: 65px;
      padding-bottom: 24px;
      font-size: map-get($font-size, 4xl);
      font-weight: 700;
      color: $white;
    }
    .banner-title-span {
      color: $primary-color;
    }
    .shop-now {
      width: 195px;
      margin-left: 65px;
      .link-shop-now {
        display: inline-flex;
        width: 100%;
        font-size: map-get($font-size, 2xl);
        font-weight: 700;
        color: $white;
        justify-content: space-between;
      }
      .link-shop-span {
        border-bottom: 2px solid $white;
        color: $white;
      }
      .link-shop-now i {
        padding: 11px 11px 9px 10px;
        border-radius: 50%;
        background-color: $primary-color;
        color: $white;
      }
    }
    .offer-list {
      position: absolute;
      justify-content: flex-end;
      @include flex;
      width: 1100px;
      bottom: 0;
      margin: 0;
      padding-left: 109px;
      border-radius: 0px 70px 0px 0px;
      background-color: $white;
    }
    .offer-item {
      width: 30%;
      align-items: center;
    }
    .offer-item-content {
      @include flex;
      padding: 31px 0;
      i {
        width: 36px;
        height: 36px;
        text-align: center;
        background-color: $yellow-b;
        color: $primary-color;
      }
    }
    .offer-item-product {
      width: 205px;
      padding-left: 21px;
    }
    .offer-title {
      font-size: map-get($font-size, sm);
      font-weight: 700;
      color: $gray-b;
    }
    .offer-price {
      font-size: map-get($font-size, md);
      color: $gray-a;
    }
  }
  .section-category {
    margin: 48px 0;
  }
  .category-list {
    justify-content: space-between;
  }
  .category-item {
    height: 365px;
    .badege {
      margin-bottom: 10px;
      z-index: 3;
    }
    .first-child {
      background-image: url(../fashion_styles/image/Fashion\ -\ home-image5\ 1.png);
    }
    .second-child {
      background-image: url(../fashion_styles/image/Fashion\ -\ home-image6\ 1.png);
    }
    .last-child {
      background-image: url(../fashion_styles/image/Fashion\ -\ home-image7\ 1.png);
    }
    .category-wrapper {
      position: relative;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 53px 40px;
      background-size: cover;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #000000;
        opacity: 0.5;
      }
    }
    .category-tilte {
      font-size: map-get($font-size, 24px);
      font-weight: 400;
      z-index: 999;
      color: $white;
    }
    .category-img {
      position: absolute;
      top: 0;
      width: 100%;
      max-width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .category-info {
    @include flex;
    width: 100%;
    height: 140px;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    z-index: 2;
  }
  //section product
  .section-heading {
    @include flex;
    margin-bottom: 30px;
    justify-content: space-between;
  }
  .section-products {
    margin-bottom: 48px;
    .section-title {
      font-size: map-get($font-size, 3xl);
      font-weight: 300;
      color: $gray-b;
    }
    .section-heading-center {
      justify-content: center;
      padding-top: 48px;
    }
    .products-list {
      position: relative;
      display: flex;
      justify-content: space-between;
    }
    .product-item-link {
      display: block;
      font-size: map-get($font-size, lg);
      color: $gray-b;
      .badge-danger {
        position: absolute;
        top: 30px;
        left: 30px;
      }
    }
    .product-item-title {
      width: 100%;
      padding: 10px 0;
      font-size: map-get($font-size, lg);
      font-weight: 300;
      color: $gray-b;
    }
    .product-befor-sale {
      font-size: map-get($font-size, xxl);
      color: #cecece;
    }
    .product-discount {
      @include flex;
      justify-content: space-between;
    }
    .product-sale {
      font-size: map-get($font-size, xxl);
      color: $red;
    }
    .product-price {
      color: $gray-b;
      font-size: map-get($font-size, xxl);
    }
  }
  .section-heading-center {
    justify-content: center;
    padding: 48px 0;
  }
  .section-reason {
    background-color: #f7f7f7;
   
    .section-title {
      text-align: center;
      font-weight: 300;
      font-size: map-get($font-size, 3xl);
      color: $gray-b;
    }
    .reason-content {
      font-weight: 400;
      font-size: map-get($font-size, sm);
      color: #808080;
    }
    .reason-list {
      display: flex;
      width: 100%;
      padding-bottom: 57px;
      justify-content: space-between;
    }
    .reason-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .reason-title {
      margin: 30px 0;
      font-size: map-get($font-size, sm);
      color: $gray-b;
    }
  }
  .section-form {
    margin: 0 auto;
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.7) 33.28%,
        rgba(0, 0, 0, 0) 94.05%
      ),
      url("../fashion_styles/image/Fashion\ -\ home-image8\ 1.png");
    .seletter {
      @include flex;
      align-items: center;
    }
    .seletter-content {
      width: 50%;
      padding: 65px;
    }
    .seletter-title {
      color: $white;
      font-size: map-get($font-size, 2xl);
      font-weight: 400;
    }
    .form-user {
      @include flex;
      justify-content: space-between;
    }
    .form-input {
      width: 351px;
      height: 48px;
      padding-left: 20px;
      border: none;
      border-radius: 61px;
      background: $white;
    }
  }
}


//Reponsive

@media only screen and (max-width: 768px) {
  .col-sm-1 {
    width: 8, 33%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-2 {
    width: 16, 67%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-3 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-4 {
    width: 33, 33%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-5 {
    width: 41, 67%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-6 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-7 {
    width: 58, 33%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-8 {
    width: 66, 67%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-9 {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-10 {
    width: 83, 33%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-11 {
    width: 91, 66%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-sm-12 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-content{
    width: calc(100% - 48px);
    height: 740px;
    .section-banner{
      width: 100%;
      height: 740px;
      background-size: cover;
      .banner-title{
        width: 271px;
        font-weight: 700;
        font-size: map-get($font-size, 5xl);
      }
      .shop-now{
        width: 126px;
        height: 32px;
        .link-shop-span{
          width: 78px;
          font-size: map-get($font-size, md);
          font-weight: 700;
        }
        svg{
          width: 32px;
          height: 32px;
        }
      }
      .offer-list{
        display: none;
      }
    }
    .section-category{
      width: 100%;
      margin: 0 auto;
      .category-list{
        padding: 24px 0 48px 0;
      }
      .category-item{
        margin: 8px 0;
      }
    }
    .section-reason{
      width: 100%;
      .section-heading-center{
        font-size: map-get($font-size, xl);
      }
      .reason-list{
        display: block;
        width: 100%;
      }
      .reason-item{
        display: flex;
      }
      .section-heading{
        height: 589px;
      }
    }
    .section-title{
      font-size: map-get($font-size, xl);
      font-weight: 300;
    }
    .product-img{
      width: 100%;
    }
    .product-item-title{
      width: 146px;
      font-size: map-get($font-size, xs);
      font-weight: 300;
    }
    .product-sale{
      font-size: map-get($font-size, 6xl);
    }
    
//////////////

    .section-products {
      .section-title {
        font-size: map-get($font-size, xl);
        font-weight: 300;
        color: $gray-b;
      }
      .section-heading-center {
        font-size: map-get($font-size, xl);
        justify-content: center;
        padding-top: 48px;
      }
      .product-item-link {
        display: block;
        font-size: map-get($font-size, xs);
        font-weight: 300;
        color: $gray-b;
        .badge-danger {
          position: absolute;
          width: 32px;
          font-size: map-get($font-size, 7xl);
          top: 30px;
          left: 30px;
        }
      }
      .product-item-title {
        width: 100%;
        padding: 10px 0;
        font-size: map-get($font-size, lg);
        font-weight: 300;
        color: $gray-b;
      }
      .product-befor-sale {
        font-size: map-get($font-size, xxl);
        color: #cecece;
      }
      .product-discount {
        @include flex;
        justify-content: space-between;
      }
      .product-sale {
        font-size: map-get($font-size, xxl);
        color: $red;
      }
      .product-price {
        color: $gray-b;
        font-size: map-get($font-size, xxl);
      }
    }
  }
}