@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
:root {
  --primary-color: #fbb03b;
  --secondary-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.header {
  position: relative;
  max-width: 1440px;
  left: 0px;
  top: 0px;
}
.nav-header {
  margin: 0 auto;
  height: 48px;
  align-items: center;
  max-width: 1152px;
  z-index: 99;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  left: 0;
  right: 0%;
}
.header-title {
  display: flex;
  align-items: center;
  font-size: 19px;
  font-weight: 700;
  color: white;
}
.header-title:hover{
  color: var(--primary-color);
}
.header-link {
  padding-right: 15px;
  list-style: none;
  text-decoration: none;
}
.nav-menu-list {
  display: flex;
  gap: 150px;
  text-align: center;
  text-decoration: none;
}
.nav-menu-item {
  line-height: 40px;
  list-style: none;
}
.menu-link {
  font-size: 18px;
  font-weight: 700;
  color: var(--primary-color);
  text-decoration: none;
}
.menu-link:hover{
  color: var(--secondary-color);
}
.nav-list {
  list-style-type: none;
  text-align: center;
  display: flex;
  gap: 20px;
}
.nav-item-icon {
  display: flex;
}
.btn-secondary {
  background: none;
  border: none;
}
.btn-icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: var(--secondary-color);
}

/* main */
.main-content {
  width: 1440px;
  display: block;
  margin: 0 auto;
}
.section-banner {
  position: relative;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(image/Fashion\ -\ home-image9\ 1.png);
  height: 880px;
  background-size: cover;
}

.banner-title {
  width: 403px;
  font-size: 72px;
  font-weight: 700;
  color: white;
  padding-top: 222px;
  margin-left: 65px;
}
.banner-title-span {
  color: var(--primary-color);
}
.shop-now {
  width: 195px;
  margin-left: 65px;
}
.link-shop-now {
  width: 100%;
  color: white;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-around;
}
.link-shop-span{
  color: #fff;
  border-bottom: 2px solid #fff;
}
.link-shop-span:hover{
  color: var(--primary-color);
}
.link-shop-now i {
  background-color: var(--primary-color);
  color: white;
  padding: 11px 11px 9px 10px;
  border-radius: 50%;
}
/* section offer */

.section-offer {
  border-radius: 0px 70px 0px 0px;
}
.offer-container{
  position: relative;
  width: 1140px;
}
.offer-list {
  position: absolute;
  display: flex;
  background-color: var(--secondary-color);
  border-radius: 0px 70px 0px 0px;
  list-style: none;
  bottom: 0;
  margin: 0;
  padding-left: 230px;
}
.offer-item {
  width: 30%;
  align-items: center;
}
.offer-item-content {
  display: flex;
  padding: 31px 0;
}
.offer-item-content i {
  width: 36px;
  height: 36px;
  text-align: center;
  background-color: #fff3df;
  color: #fbb03b;
}
.offer-item-product {
  padding-left: 21px;
  width: 205px;
}
.offer-title {
  font-size: 14px;
  font-weight: 700;
  color: #333333;
}
.offer-price {
  font-size: 12px;
  color: #a8a8a8;
}
/* section-category */

.section-category {
  width: 1440px;
  display: block;
  margin: 0 auto;
  margin: 48px 0;
}
.container {
  width: 1152px;
  margin: 0 auto;
  display: block;
}
.category-list {
  display: flex;
  justify-content: space-between;
}
.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-6 {
  width: 50%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.col-3 {
  width: 25%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.category-item {
  list-style: none;
}
.category-content {
  position: relative;
}
.category-content::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000000;
  opacity: 0.5;
}
.category-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.7) 33.28%,
      rgba(0, 0, 0, 0) 94.05%
    ); */
  min-height: 365px;
}
.group1 {
  background-image: url(./image/Fashion\ -\ home-image5\ 1.png);
}
.group2 {
  background-image: url(./image/Fashion\ -\ home-image6\ 1.png);
}
.group3 {
  background-image: url(./image/Fashion\ -\ home-image7\ 1.png);
}
.category-tilte {
  max-width: 60%;
  position: absolute;
  z-index: 999;
  top: 180px;
  left: 40px;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}
.category-tilte:hover{
  color: var(--primary-color);
}
.category-link {
  position: absolute;
  text-align: center;
  padding: 14px 0;
  width: 166px;
  z-index: 999;
  font-size: 13px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 33px;
  color: #333333;
  top: 258px;
  left: 40px;
  text-decoration: none;
}
.category-link:hover{
  color: var(--primary-color);
}
.badges {
  position: absolute;
  left: 14%;
  top: 40%;
  width: 60px;
  text-align: center;
  background: #ff0000;
  border-radius: 20px;
  color: #fff;
}

/* section product */
.section-products {
  width: 1440px;
  display: block;
  margin: 0 auto;
  margin: 45px 0;
}
.product-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.products-list {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.product-item-link{
  text-decoration: none;
  font-size: 16px;
  columns: #333;
}
.product-title {
  font-size: 32px;
  font-weight: 300;
  color: #333333;
}
.product-link {
  width: 143px;
  text-align: center;
  padding: 15px 0;
  font-size: 13px;
  font-weight: 700;
  color: #333333;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 39px;
  text-decoration: none;
}
.product-link:hover{
  color: var(--primary-color);
}
.products-item {
  list-style: none;
  width: 25%;
}
.product-img {
  width: 100%;
}
.product-badges {
  position: absolute;
  left: 27px;
  top: 30px;
  width: 60px;
  text-align: center;
  background: #ff0000;
  border-radius: 20px;
  color: #fff;
}
.product-item-title {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  color: #333333;
  padding: 10px 0;
  text-decoration: none;
}
.product-item-title:hover{
  color: var(--primary-color);
}
.product-befor-sale{
  font-size: 20px;
}
.product-discoust{
  display: flex;
  justify-content: space-between;
}
.product-sale {
  font-size: 20px;
  color: #ff0000;
}
.product-befor-sale {
  color: #cecece;
}
.product-price {
  color: #333333;
  font-size: 20px;
}

/* section reason */
.section-reason {
  width: 1440px;
  display: block;
  margin: 0 auto;
  background-color: #f7f7f7;
  padding-bottom: 45px;
}
h3.reason-title {
  text-align: center;
  color: #333333;
  font-size: 32px;
  font-weight: 700;
  font-weight: 300;
}
.reason-content{
  font-weight: 400;
  font-size: 14px;
  color: #808080;
}
.reason-list {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.reason-item {
  width: 25%;
}
.reason-item svg {
  background-color: #fff;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 8px;
}
.reason-title {
  font-size: 16px;
  color: #333333;
  margin: 30px 0;
}
/* section form */
.section-form {
  width: 1440px;
  display: block;
  margin: 0 auto;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.7) 33.28%,
      rgba(0, 0, 0, 0) 94.05%
    ),
    url("./image/Fashion\ -\ home-image8\ 1.png");
}
.section-container {
  width: 100%;
}
.seletter {
  display: flex;
  align-items: center;
}
.seletter-content {
  width: 50%;
  padding: 65px;
}
.seletter-title {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}
.form-user {
  display: flex;
  justify-content: space-between;
}
.form-input {
  background: #ffffff;
  border-radius: 61px;
  width: 351px;
  height: 48px;
  padding-left: 20px;
  border: none;
}

.btn-primary {
  color: #333333;
  width: 175px;
  background-color: var(--primary-color);
  border-radius: 56px;
  font-size: 13px;
  font-weight: 700;
  height: 47px;
  border: none;
}

/* footer */
.footer{
  width: 1440px;
  display: block;
  margin: 0 auto;
  background-color: var(--primary-color);
}
.footer-container{
  width: 1152px;
  padding: 45px 0;
  margin: 0 auto;
  display: block;
}
.footer-row{
  width: 100%;
  display: flex;
}
.info-brand{
  width: 50%;
}
.brand-name{
  font-size: 19px;
  color: #fff;
  text-decoration: none;
  display: flex;
  gap: 20px;
  align-items: center;
}
.brand-title{
  width: 373px;
  font-size: 14px;
  color: #fff;
  margin: 20px 0;
}
.contact-list{
  display: flex;
  gap: 30px;
}
.contact-item{
  list-style: none;
}
.contact-item-link{
  color: var(--secondary-color);
}
.information-list{
  display: flex;
  gap: 50px;
}
.information-item{
  list-style: none;
  width: 159px;
}
.list-title{
  color: #fff;
  font-size: 16px;
}
.list-sub-info{
  width: 100%;
  padding: 20px 0;
}
.list-item{
  list-style: none;
  color: #fff;
}
.list-item-link{
  font-size: 14px;
  color: #fff;
  list-style: none;
  text-decoration: none;
}
.list-item-link:hover{
  color: #333333;
}
.list-item{
  font-weight: 400;
  font-size: 14px;
}
.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  border-top: 1px solid #fff;
  font-size: 12px;
  color: #fff;
}
