@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
:root {
  --primary-color: #fbb03b;
  --secondary-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  position: relative;
}
.btn {
  border: none;
  background: none;
}
.btn-primary {
  width: 175px;
  height: 47px;
  border-radius: 56px;
  font-size: 13px;
  font-weight: 700;
  color: #333333;
  background-color: var(--primary-color);
}
.btn-icon {
  width: 36px;
  height: 36px;
  font-size: 16px;
  color: var(--secondary-color);
}
.btn_secondary {
  border-radius: 33px;
  text-align: center;
  padding: 14px;
  font-size: 13px;
  font-weight: 700;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
.badge {
  width: 60px;
  border-radius: 20px;
  text-align: center;
  color: var(--secondary-color);
}
.badge-danger {
  background: #ff0000;
}
.badge-da {
  margin-bottom: 14px;
  z-index: 3;
}
.header {
  position: absolute;
  width: 1440px;
  top: 48px;
  z-index: 999;
}
.nav-header {
  display: flex;
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  display: flex;
  font-size: 19px;
  font-weight: 700;
  color: var(--secondary-color);
  align-items: center;
}
.header-log:hover {
  color: var(--primary-color);
}
.header-link {
  padding-right: 15px;
}
.nav-menu-list {
  display: flex;
  gap: 150px;
  text-align: center;
}
.nav-menu-item {
  line-height: 40px;
}
.menu-link {
  font-size: 18px;
  font-weight: 700;
  color: var(--primary-color);
}
.menu-link:hover {
  color: var(--secondary-color);
}
.nav-list {
  display: flex;
  gap: 20px;
  text-align: center;
}
.nav-item-icon {
  display: flex;
}
.btn-secondary {
  border-radius: 33px;
  text-align: center;
  padding: 14px;
  font-size: 13px;
  font-weight: 700;
  background-color: var(--secondary-color);
  color: #333333;
  z-index: 999;
}
/*main */
.main-content {
  display: block;
  width: 1440px;
  margin: 0 auto;
}
.section-banner {
  position: relative;
  height: 880px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(image/Fashion\ -\ home-image9\ 1.png);
  background-size: cover;
}

.banner-title {
  width: 403px;
  padding-top: 222px;
  margin-left: 65px;
  padding-bottom: 24px;
  font-size: 72px;
  font-weight: 700;
  color: var(--secondary-color);
}
.banner-title-span {
  color: var(--primary-color);
}
.shop-now {
  width: 195px;
  margin-left: 65px;
}
.link-shop-now {
  display: inline-flex;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  color: var(--secondary-color);
  justify-content: space-between;
}
.link-shop-span {
  border-bottom: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}
.link-shop-span:hover {
  color: var(--primary-color);
}
.link-shop-now i {
  padding: 11px 11px 9px 10px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
/* section offer */

.offer-list {
  position: absolute;
  justify-content: flex-end;
  display: flex;
  width: 1100px;
  bottom: 0;
  margin: 0;
  padding-left: 109px;
  border-radius: 0px 70px 0px 0px;
  background-color: var(--secondary-color);
}
.offer-item {
  width: 30%;
  align-items: center;
}
.offer-item-content {
  display: flex;
  padding: 31px 0;
}
.offer-item-content i {
  width: 36px;
  height: 36px;
  text-align: center;
  background-color: #fff3df;
  color: var(--primary-color);
}
.offer-item-product {
  width: 205px;
  padding-left: 21px;
}
.offer-title {
  font-size: 14px;
  font-weight: 700;
  color: #333333;
}
.offer-price {
  font-size: 12px;
  color: #a8a8a8;
}
/* section-category */

.section-category {
  margin: 48px 0;
}
.container {
  max-width: 1172px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.category-list {
  justify-content: space-between;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-6 {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-3 {
  width: 25%;
  padding-right: 15px;
  padding-left: 15px;
}
.category-item {
  height: 365px;
}
.category-item .badge {
  margin-bottom: 10px;
  z-index: 3;
}
.category-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 53px 40px;
  background-size: cover;
}
.category-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000000;
  opacity: 0.5;
}
.category-info {
  display: flex;
  width: 100%;
  height: 140px;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  z-index: 2;
}
.category-img {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.first-child {
  background-image: url(./image/Fashion\ -\ home-image5\ 1.png);
}
.second-child {
  background-image: url(./image/Fashion\ -\ home-image6\ 1.png);
}
.last-child {
  background-image: url(./image/Fashion\ -\ home-image7\ 1.png);
}
.category-tilte {
  width: calc(100% - 50px);
  font-size: 24px;
  font-weight: 400;
  z-index: 999;
  color: var(--secondary-color);
}
.category-tilte:hover {
  color: var(--primary-color);
}
.category-link:hover {
  color: var(--primary-color);
}

/* section product */
.section-products {
  margin-bottom: 48px;
}
.section-heading {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}
.section-heading.section-heading-center {
  justify-content: center;
  padding-top: 48px;
}
.products-list {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.product-item-link {
  display: block;
  font-size: 16px;
  color: #333;
}
.product-item-link .badge {
  position: absolute;
  top: 30px;
  left: 30px;
}
.section-heading .section-title {
  font-size: 32px;
  font-weight: 300;
  color: #333333;
}
.btn-outline-secondary {
  width: 143px;
  padding: 15px 0;
  border: 1px solid #c4c4c4;
  border-radius: 39px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  color: #333333;
  background-color: var(--secondary-color);
}
.product-link:hover {
  color: var(--primary-color);
}
.products-item {
  width: 25%;
}
.product-img {
  width: 100%;
}
.product-item-title {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 300;
  color: #333333;
}
.product-item-title:hover {
  color: var(--primary-color);
}
.product-befor-sale {
  font-size: 20px;
}
.product-discount {
  display: flex;
  justify-content: space-between;
}
.product-sale {
  font-size: 20px;
  color: #ff0000;
}
.product-befor-sale {
  color: #cecece;
}
.product-price {
  color: #333333;
  font-size: 20px;
}

/* section reason */
.section-reason {
  background-color: #f7f7f7;
}
h3.reason-title {
  text-align: center;
  font-weight: 300;
  font-size: 32px;
  color: #333;
}
.reason-content {
  font-weight: 400;
  font-size: 14px;
  color: #808080;
}
.choose {
  padding-top: 30px;
}
.reason-list {
  display: flex;
  width: 100%;
  padding-bottom: 57px;
  justify-content: space-between;
}
.reason-item {
  width: 25%;
}
.reason-item svg {
  width: 60px;
  height: 60px;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--secondary-color);
}
.reason-title {
  margin: 30px 0;
  font-size: 16px;
  color: #333333;
}
/* section form */
.section-form {
  display: block;
  margin: 0 auto;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.7) 33.28%,
      rgba(0, 0, 0, 0) 94.05%
    ),
    url("./image/Fashion\ -\ home-image8\ 1.png");
}
.section-container {
  width: 100%;
}
.seletter {
  display: flex;
  align-items: center;
}
.seletter-content {
  width: 50%;
  padding: 65px;
}
.seletter-title {
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 400;
}
.form-user {
  display: flex;
  justify-content: space-between;
}
.form-input {
  width: 351px;
  height: 48px;
  padding-left: 20px;
  border: none;
  border-radius: 61px;
  background: var(--secondary-color);
}
/* footer */
.footer {
  display: block;
  margin: 0 auto;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.footer-top {
  padding: 45px 0;
}
.footer-container {
  display: block;
  padding: 45px 0;
  margin: 0 auto;
}
.footer-row {
  display: flex;
  width: 100%;
}
.info-brand {
  width: 50%;
}
.brand-name {
  display: flex;
  gap: 20px;
  font-size: 19px;
  align-items: center;
}
.brand-title {
  width: 373px;
  margin: 20px 0;
  font-size: 14px;
}
.contact-list {
  display: flex;
  gap: 30px;
}
.information-list {
  display: flex;
  gap: 50px;
}
.information-item {
  width: 159px;
}
.list-title {
  font-size: 16px;
}
.list-sub-info {
  width: 100%;
  padding: 20px 0;
}
.list-item-link {
  font-size: 14px;
}
.list-item-link:hover {
  color: #333333;
}
.list-item {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
}
.copyright {
  width: 100%;
  padding: 25px 0;
  border-top: 1px solid var(--secondary-color);
  font-size: 12px;
  text-align: center;
} 
