.footer {
  @include block;
  color: $secondary-color;
  background-color: $primary-color;
  .footer-top {
    padding: 45px 0;
  }
  .footer-row {
    display: flex;
    width: 100%;
    .brand-name {
      display: flex;
      gap: 20px;
      font-size: map-get($font-size, size-8);
      align-items: center;
    }
    .brand-title {
      width: 373px;
      margin: 20px 0;
      font-size: map-get($font-size, size-3);
    }
    .contact-list {
      display: flex;
      gap: 30px;
    }
    .information-list {
      display: flex;
      gap: 50px;
    }
    .information-item {
      width: 159px;
    }
    .list-title {
      font-size: map-get($font-size, size-4);
    }
    .list-sub-info {
      width: 100%;
      padding: 20px 0;
    }
    .list-item-link {
      font-size: map-get($font-size, size-3);
    }
    .list-item-link:hover {
      color: #333333;
    }
    .list-item {
      margin-bottom: 10px;
      font-weight: map-get($font-weight, md);
      font-size: map-get($font-size, size-3);
    }
  }
  .copyright {
    width: 100%;
    padding: 25px 0;
    border-top: 1px solid $secondary-color;
    font-size: map-get($font-size, size-2);
    text-align: center;
  } 
}
