.container {
  max-width: 1172px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-1 {
  width: 8, 33%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-2 {
  width: 16, 67%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-3 {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-4 {
  width: 33, 33%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-5 {
  width: 41, 67%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-6 {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-7 {
  width: 58, 33%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-8 {
  width: 66, 67%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-9 {
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-10 {
  width: 83, 33%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-11 {
  width: 91, 66%;
  padding-left: 15px;
  padding-right: 15px;
}
.col-12 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
