.header {
  position: absolute;
  width: 1440px;
  top: 48px;
  z-index: 999;
  .nav-header {
    @include flex;
    max-width: 1152px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between
  }
  .header-logo {
    @include flex;
    font-size: 19px;
    font-weight: 700;
    color: $secondary-color;
    align-items: center;
  }
  .header-link {
    padding-right: 15px;
  }
  .nav-menu-list {
    @include flex;
    gap: 150px;
    text-align: center;
    .nav-menu-item {
      line-height: 40px;
      .menu-link {
        font-size: 18px;
        font-weight: 700;
        color: $primary-color;
      }
    }
  }
  .nav-list {
    @include flex;
    gap: 20px;
    text-align: center;
    .nav-item-icon {
        display: flex;
      }
  }
}
