.header {
  position: absolute;
  width: 1440px;
  top: 48px;
  z-index: 999;
  .nav-header {
    @include flex;
    max-width: 1152px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
  }
  .header-logo {
    @include flex;
    font-size: map-get($font-size, xl);
    font-weight: 700;
    color: $white;
    align-items: center;
  }
  .header-link {
    padding-right: 15px;
  }
  .toggle{
    display: none;
    background: none;
    color: $white;
    text-align: right;
    padding: 10px;
    font-size: map-get($font-size, xxl);
    cursor: pointer;
  }
  .nav-menu-list {
    @include flex;
    gap: 150px;
    text-align: center;
    .nav-menu-item {
      line-height: 40px;
      .menu-link {
        font-size: map-get($font-size, xl);
        font-weight: 700;
        color: $yellow;
      }
    }
  }
  .nav-list {
    @include flex;
    gap: 20px;
    text-align: center;
    .nav-item-icon {
      display: flex;
    }
  }
}

// @media only screen and (max-width: 768px) {
//   .header {
//     max-width: 1440px;
//     // width: calc(100% - 20px);
//     margin: 0 auto;
//     background-color: $white;
//     .nav-menu-list{
//       flex-direction: column;
//     }
//     .header-logo{
//       color: $gray-b;
//       font-size: map-get($font-size, xl);
//     }
//     .header-link svg{
//       background-color: $gray-b;
//     }
    
    
//     .toggle{
//       display: block;
//       width: 20px;
//       height: 2px;
//       color: $gray-b;
//       border-radius: 3px;
//     }
//     .nav-menu-item{
//       display: none;
//     }
//   }
  
// }
