//main
.main-content {
  @include block;
  .section-banner {
    position: relative;
    height: 880px;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url(image/Fashion\ -\ home-image9\ 1.png);
    background-size: cover;
    .banner-title {
      width: 403px;
      padding-top: 222px;
      padding-bottom: 24px;
      margin-left: 65px;
      font-size: map-get($font-size, xxl);
      font-weight: map-get($font-weight, xxl);
    }
    .shop-now {
      width: 195px;
      margin-left: 65px;
      .link-shop-now {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        font-size: map-get($font-size, lg);
        font-weight: map-get($font-weight, xxl);
        color: $secondary-color;
        .link-shop-span {
          border-bottom: 2px solid $secondary-color;
          color: $secondary-color;
        }
      }
    }
  }
  //section-offer
  .offer-list {
    position: absolute;
    @include flex;
    justify-content: flex-end;
    bottom: 0;
    margin: 0;
    padding-left: 109px;
    border-radius: 0px 70px 0px 0px;
    background-color: $secondary-color;
    .offer-item {
      width: 30%;
      align-items: center;
      .offer-item{
        width: 30%;
        align-items: center;
        .offer-item-content{
          display: flex;
          padding: 31px 0;
        }
        .offer-item-product{
          width: 205px;
          padding-left: 21px;
          .offer-title{
            font-size: map-get( $font-size, sm);
            font-weight: map-get($font-weight , xxl);
            color: $thirth-color;
          }
          .offer-price{
            font-size: map-get($font-size , xs);
            color: $fourth-color;
          }
        }
      }
    }
  }
  //section category
  .section-category{
    margin: 48px 0;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    .category-list{
      justify-content: space-between;
      .category-item{
        height: 365px;
        .badge{
          margin-bottom: 10px;
          z-index: 3;
        }
        .category-wrapper{
          position: relative;
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          width: 100%;
          height: 100%;
          padding: 53px 40px;
          background-size: cover;
        }
      }
    }
  }
}
