:root {
  --primary-color: #;
  --secondary-color: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #f7f1f1;

}

.section-content {
  width: 100%;
  /* height: 600px; */
  padding: 30px;
}

.container {
  width: 1152px;
  margin: 0 auto;
  display: block;
}

.row {
  width: 500px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: #ee6464;
  border-radius: 5%;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}

.section-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input-todo-list {
  width: 250px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.btn {
  background-color: #ee6464;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.btn-add {
  width: 30px;
  height: 20px;
  color: #333;
  text-align: center;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  align-items: center;
  list-style: none;
  margin-bottom: 20px;
}

.btn-delete {
  display: none;
}

.todo-list:hover .btn-delete {
  display: block;
}

.content-todo {
  width: 400px;
  background-color: #a55c5c;
  text-align: center;
  height: 50px;
  border: 1px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}