@mixin flex {
  display: flex;
  // text-align: center;
}
@mixin block {
  display: block;
  margin: 0 auto;
}
@mixin reponsive_mobile {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
