$font-stack : "Poppins", sans-serif;
$reset-box: border-box;
$content: relative;
$font-reset: none;
* {
    margin: 0;
    padding: 0;
    box-sizing: $reset-box;
}
body {
    font-family: $font-stack;
    position: $content;
}
ul,li {
    list-style: $font-reset;
}
a {
    text-decoration: none;
    color: inherit;
  }