$primary-color: #fbb03b;
$secondary-color: #fff;
$thirth-color: #ff0000;
$fourth-color: #a8a8a8;
$last-color: #333333;
$font-size: (
    xs: 12px,
    sm: 18px,
    md: 20px,
    lg: 24px,
    xl: 32px,
    xxl: 72px,
);
$font-weight: (
    xs: 200,
    sm: 300,
    md: 400,
    lg: 500,
    xl: 600,
    xxl: 700,
);
