$primary-color: #fbb03b;
$white: #fff;
$red: #ff0000;
$gray-a: #a8a8a8;
$yellow-b: #fff3df;
$gray-b: #333333;
$font-size: (
    xs: 12px,
    sm: 13px,
    md: 14px,
    lg: 16px,
    xl: 18px,
    xxl: 20px,
    2xl: 24px,
    3xl: 32px,
    4xl: 72px,
    5xl: 48px
);

